body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

.card {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	backdrop-filter: blur(100px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	transition: transform 0.3s ease-in-out;
}

.card:hover {
	transform: scale(1.1);
}

.image-link {
	position: relative;
	display: inline-block;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
}

.image-link img {
	transition: transform 0.3s ease-in-out;
}

.image-link:hover {
	transform: scale(1.2); /* Increase the size by 20% on hover */
}

.modal {
	background: none !important;
	overflow: hidden;
}

.modal-content {
	background: #f0f0f0;;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	backdrop-filter: blur(100px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	z-index: 1000;
	overflow: hidden;
	
}
.icon-close {
	position: absolute;
	top:0;
	right: 0;
	width: 45px;
	height: 45px;
	background: #162938;
	font-size: 2em;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
}