.sidebar {
	/* border: 2px solid rgba(255, 255, 255, .5); */
	/* border-radius: 20px; */
	backdrop-filter: blur(100px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	width: 350px;
	height: 100%;
	background: #f0f0f0;
	overflow-y: scroll;
	position: fixed;
	left: -350px;
	top: 0;
	transition: 0.3s;
	z-index: 1000;
}

.sidebar.active {
	left: 0;
}
.list-group a{
	background: #f0f0f0;
	border: 2px solid rgba(255, 255, 255, .5);
	font-size: 0.9em;
	
}
.list-group .active{
	background: #162938;
	border: 2px solid #fff;
	
}

.profile {
	padding: 20px;
	text-align: center;
	background-color: #162938;
}

.profile img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.sidebarOptions {
	padding: 20px;
}

.login-logout{
	position: relative;
	padding: 20px;
	text-align: center;
	bottom: 0;
	width: 100%;
}
.btn{
	position: relative;
	width: 100%;
	height: 50px;
	background: #162938;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.2em;
	color: #fff;
	font-weight: 500;
}
.sidebarOptions a {
	background: #f0f0f0;
	color: #162938;
	font-weight: 600;
	text-decoration: none;
	border: 2px solid rgba(255, 255, 255, .1);
}
.sidebarOptions a:hover{
	color: #fff;
	background: #162938;
}
.blur-background-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    z-index: 999; /* Ensure it's above other content */
    display: none; /* Initially hidden */
}